# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [32]:
#Exercise
x = list(range(1, 11))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
#Exercise 2:
fruits = ("apple", "banana", "cherry")
type(fruits)

tuple

In [41]:
#Exercise 3:
z =  [10, 20, 30, 40]
turple_z = tuple(z)
type(turple_z)

tuple

In [25]:
#Exercise 4:
x = list(range(1,6))
x

[1, 2, 3, 4, 5]

In [24]:
#Exercise 5:
student_details = {"Name":"Alice", "Age":"20", "Grade":"A"}
student_details

{'Name': 'Alice', 'Age': '20', 'Grade': 'A'}

In [43]:
#Exercise 6:
numbers = [10,20,30,40,50]
numbers[1]

30

In [50]:
#Exercise 7:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [26]:
#Exercise 8:
set_num = {1, 2, 3, 4, 5} 
set_num

{1, 2, 3, 4, 5}

In [21]:
#Exercise 9:
person = {"name": "John", "age": 25, "city": "New York"} 
del person["age"]
person

{'name': 'John', 'city': 'New York'}

In [62]:
#Exercise 10:
x = list(range(9))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
#Exercise 11:
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#Exercise 12:
even = (2,4,6,8,10)
even

(2, 4, 6, 8, 10)

In [19]:
#Exercise 13:
#Use a for loop to iterate through the list fruits = ["apple", "banana", "cherry"] and print each element.
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
#Exercise 14:
numbers = [10, 20, 30, 40, 50]
number_to_check = 30

if number_to_check in my_list:
    print(f"{number_to_check} is present in the list.")
else:
    print(f"{number_to_check} is not present in the list.")
Check if the value 3 exists in the set numbers = {1, 2, 3, 4, 5}.

In [40]:
#Exercise 15:
#Use the len() function to find the length of the tuple numbers = (10, 20, 30).
numbers = (10, 20, 30)
len(numbers)

3

In [45]:
#Exercise 16:
#Add the value 100 at the end of the list scores = [80, 85, 90, 95].
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

In [2]:
#Exercise 17:
#Write a function that takes a list as input and returns the sum of all elements in the list.
def sum_of_elements(lst):
    total = 0
    for x in lst:
        total += x
    return total

# Get input from user
numbers_str = input("Enter numbers separated by spaces: ")
numbers_list = [int(x) for x in numbers_str.split()]

# Calculate and print the sum
result = sum_of_elements(numbers_list)
print(f"The sum of all elements is: {result}")

Enter numbers separated by spaces:  4 2 2 1 2 4 5

The sum of all elements is: 20

In [ ]:
#Exercise 18:
#Create a set containing the unique elements of the list numbers = [1, 2, 2, 3, 4, 4, 5].
numbers = {1, 2, 2, 3, 4, 4, 5}

In [66]:
#Exercise 19:
#Convert the string "hello" into a list of characters.
string = "hello"

str

In [ ]:
#Exercise 20:
#Write a Python function that reverses a tuple (1, 2, 3, 4).
def reverse_tuple(t):
    return t[::-1]

my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

In [61]:
#Exercise 21:
#Merge two dictionaries dict1 = {"a": 1, "b": 2} and dict2 = {"c": 3, "d": 4} into a single dictionary.
dict1 = {"a": 1, "b": 2} 
dict2 = {"c": 3, "d": 4}
new_dict = dict1 | dict2
new_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [68]:
#Exercise 22:
#Create a dictionary where keys are numbers from 1 to 5, and values are their squares.
a, b, c, d, e = 1, 2, 3, 4, 5
Dict = {a:a**2, b:b**2, c:c**2, d:d**2, e:e**2}
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
#Exercise 23:
#Write a Python program to iterate through a dictionary and print each key-value pair.
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
Key: d, Value: 4

In [4]:
#Exercise 24:
#Create a list of the first 5 letters of the alphabet using the chr() function.
alphabet_first5 = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(alphabet_first5)

['a', 'b', 'c', 'd', 'e']

In [37]:
#Exercise 25:
#Use the zip() function to combine two lists [1, 2, 3] and ["a", "b", "c"] into a list of tuples.
lists_1, lists_2 = [1, 2, 3], ["a", "b", "c"]
new_list = (zip(lists_1,lists_2))
list_of_tuple = tuple(new_list)
print(list_of_tuple)

((1, 'a'), (2, 'b'), (3, 'c'))

In [6]:
#Exercise 26:
#Find the index of the value 50 in the list [10, 20, 30, 40, 50].
list_of_integers = [10, 20, 30, 40, 50]
index_50 = list_of_integers.index(50)
print(index_50)

4

In [69]:
#Exercise 27:
#Sort the list names = ["Alice", "Bob", "Charlie", "David"] in alphabetical order.
list_of_names = ["Alice", "Bob", "Charlie", "David"]
sorted(list_of_names)

['Alice', 'Bob', 'Charlie', 'David']

In [7]:
#Exercise 28:
#Write a Python function that takes a list of integers as input and returns the largest number.
def largest_number(lst):
    return max(lst)

numbers = [3, 7, 2, 9, 5]
print(largest_number(numbers))

9

In [70]:
#Exercise 29:
#Use the count() method to count how many times "apple" appears in the list fruits = ["apple", "banana", "apple", "orange"].
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

In [10]:
#Exercise 30:
#Create a dictionary person where keys are "name", "age", and "city", and values are "Alice", 25, and "New York" respectively. Then access the value of the "city" key.
person = {"Name": "Alice", "Age":25, "City":"new York"}
person.get("City")

'new York'

In [11]:
#Exercise 31:
#Write a Python function that takes a list as input and returns a new list with all duplicates removed.
def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = remove_duplicates(numbers)
print(unique_numbers)

[1, 2, 3, 4, 5]

In [13]:
#Exercise 32:
#Write a Python function that takes two lists and returns their intersection.
def intersection(list1, list2):
    set2 = set(list2)
    return [x for x in list1 if x in set2]

a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
print(intersection(a, b))

[3, 4]

In [12]:
#Exercise 33:
#Create a generator that yields the squares of numbers from 1 to 10.
generator = [x**2 for x in range(1,11)]
print(generator)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#Exercise 34:
#Write a Python function that takes a dictionary as input and returns the sum of all its values.
def sum_dict_values(d):
    return sum(d.values())

my_dict = {'a': 10, 'b': 20, 'c': 30}
result = sum_dict_values(my_dict)
print(result)

60

In [12]:
#Exercise 35:
#Use the sorted() function to sort the list [3, 1, 4, 1, 5, 9] in ascending order.
list = [3, 1, 4, 1, 5, 9]
sorted(list)

[1, 1, 3, 4, 5, 9]

In [15]:
#Exercise 36:
#Write a Python function that takes a list of strings as input and returns the longest string.
def longest_string(lst):
    return max(lst, key=len)

words = ["cat", "elephant", "dog", "giraffe"]
print(longest_string(words))

elephant

In [89]:
#Exercise 37:
#Check if all the elements in the list [1, 2, 3, 4, 5] are greater than 0 using the all() function.
list_ = [1, 2, 3, 4, 5]
all(list_)

True

In [92]:
#Exercise 38:
#Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.
a, b, c, d = 2, 4, 4, 9
list_of_tuple = ([a,a**2],[b,b**2],[c,c**2],[d,d**2])
list_of_tuple

([2, 4], [4, 16], [4, 16], [9, 81])

In [96]:
#Exercise 39:
#Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.
a, b, c, d = 2, 4, 4, 9
list_of_tuple = ([a,a**2],[b,b**2],[c,c**2],[d,d**2])
list_of_tuple[3]

[9, 81]

In [16]:
#Exercise 40:
#Write a Python function that flattens a list of lists into a single list.
def flatten(list_of_lists):
    flat_list = []
    for sublist in list_of_lists:
        flat_list.extend(sublist)
    return flat_list
nested = [[1, 2], [3, 4], [5]]
print(flatten(nested))

[1, 2, 3, 4, 5]

In [111]:
#Exercise 41:
#Use the enumerate() function to iterate through the list ["apple", "banana", "cherry"] and print the index and value.
fruits = ["apple", "banana", "cherry"]
for index, item in enumerate(fruits):
    print(f"Index:{index}, item is {item}")

Index:0, item is apple
Index:1, item is banana
Index:2, item is cherry

In [18]:
#Exercise 42:
#Write a Python program that checks if a tuple is empty.
def is_empty_tuple(t):
    return len(t) == 0
t1 = ()

print(is_empty_tuple(t1))

True

In [5]:
#Exercise 43:
#Create a list of even numbers between 1 and 20 using the range() function.
list_of_even = list(range(2,21,2))
print(list_of_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
#Exercise 44:
#Write a Python function that takes a list of numbers as input and returns the list in reverse order.
def reverse_list(lst):
    return lst[::-1]

numbers_str = input("Enter numbers separated by spaces: ")
list_of_numbers = [int(x) for x in numbers_str.split()]

reversed_list = reverse_list(list_of_numbers)
print(reversed_list)

Enter numbers separated by spaces:  1 2 3 4 5 6

[6, 5, 4, 3, 2, 1]

In [148]:
#Exercise 45:
#Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.
a, b, c, d, e = 1, 2, 3, 4, 5
Dictionary = {"a":a**3, "b":b**3, "c":c**3, "d":d**3, "e":e**3}
Dictionary

{'a': 1, 'b': 8, 'c': 27, 'd': 64, 'e': 125}

In [19]:
#Exercise 46:
#Write a Python program that creates a new list containing only the unique elements of the list [1, 2, 2, 3, 4, 4, 5].
unique_elements = [1, 2, 2, 3, 4, 4, 5]
new_list = sorted(unique_elements)
new_list

[1, 2, 2, 3, 4, 4, 5]

In [25]:
#Exercise 47:
#Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.
def list_of_dict(D):
    return list_of_dict.key()
D = {"a":3, "b":3, "c":3, "d":3, "e":3}

In [22]:
#Exercise 48:
#Write a Python function that uses a generator to yield the Fibonacci sequence up to n terms.
def fibonacci_generator(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1

for num in fibonacci_generator(10):
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34

In [23]:
#Exercise 49:
#Write a Python function that takes a string and returns a list of all unique characters in the string.
def unique_characters(s):
    return list(set(s))

# Example usage:
text = "banana"
print(unique_characters(text))  # Output: ['b', 'n', 'a']

['a', 'n', 'b']

In [24]:
#Exercise 50:
#Write a Python function that merges two sorted lists into a single sorted list.
def unique_characters(s):
    seen = set()
    result = []
    for c in s:
        if c not in seen:
            seen.add(c)
            result.append(c)
    return result

print(unique_characters("banana"))

['b', 'a', 'n']

In [26]:
#Exercise 51:
#Use the filter() function to filter out odd numbers from the list [1, 2, 3, 4, 5, 6].
list_of_numb = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, list_of_numb))
print(even_numbers)

[2, 4, 6]

In [74]:
#Exercise 52:
#Write a Python program that converts a list of tuples [(1, 2), (3, 4), (5, 6)] into a dictionary.
list_ = [(1, 2), (3, 4), (5, 6)]
Dictionary = dict(list_)
print(Dictionary)

{1: 2, 3: 4, 5: 6}

In [27]:
#Exercise 53:
#Write a Python function that takes two sets and returns their symmetric difference.
def symmetric_difference(set1, set2):
    return set1 ^ set2  # Or: set1.symmetric_difference(set2)

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(symmetric_difference(a, b))

{1, 2, 5, 6}

In [28]:
#Exercise 54:
#Write a Python program that finds the common elements in three lists list1, list2, and list3.
def common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list3 = [5, 6, 7, 8, 9]
print(common_elements(list1, list2, list3))

[5]

In [ ]:
#Exercise 55:
#Write a Python function that returns the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
num = 5
print("Factorial of", num, "is", factorial(num))

In [85]:
#Exercise 56:
#Write a Python program that removes all empty strings from the list ["apple", "", "banana", "", "cherry"].
list = ["apple", "", "banana", "", "cherry"]
list.remove("")
list

['apple', 'banana', '', 'cherry']

In [28]:
#Exercise 57:
#Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 5, 7, 11]
list3 = [1, 3, 5, 9, 13]

common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[3, 5]

In [30]:
#Exercise 57:
#Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.
def swap_keys_values(d):
    return {v: k for k, v in d.items()}

dict_1 = {'a': 1, 'b': 2, 'c': 3}
new_dict = swap_keys_values(dict_1)
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [31]:
#Exercise 58:
#Write a Python function that takes a list of integers and returns a new list with only the even numbers.
def even_numbers(lst):
    return [x for x in lst if x % 2 == 0]

numbers = [1, 2, 3, 4, 5, 6]
print(even_numbers(numbers))

[2, 4, 6]

In [32]:
#Exercise 59:
#Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.
def first_elements(tuples_list):
    return [t[0] for t in tuples_list]

tuple_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print(first_elements(tuple_list))

[1, 2, 3]

In [33]:
#Exercise 60:
#Write a Python program that removes duplicates from a list without changing the order of elements.
def remove_duplicates(lst):
    seen = set()
    result = []
    for x in lst:
        if x not in seen:
            seen.add(x)
            result.append(x)
    return result

numbers = [1, 2, 2, 3, 4, 3, 5, 1]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

In [34]:
#Exercise 61:
#Use the map() function to convert a list of strings to a list of their lengths.
words = ["apple", "banana", "kiwi"]
lengths = list(map(len, words))
print(lengths)

[5, 6, 4]

In [36]:
#Exercise 62:
#Write a Python program that calculates the average of a list of numbers.
def average(lst):
    return sum(lst) / len(lst) if lst else 0

numbers = [2, 4, 6, 8, 10]
print(average(numbers))

6.0

In [38]:
#Exercise 63:
#Write a Python function that generates a list of the first n Fibonacci numbers.
def fibonacci_list(n):
    fibs = []
    a, b = 0, 1
    for _ in range(n):
        fibs.append(a)
        a, b = b, a + b
    return fibs

print(fibonacci_list(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [39]:
#Exercise 64:
#Write a Python program that counts how many times each element appears in the list ["apple", "banana", "apple", "cherry"].
fruits = ["apple", "banana", "apple", "cherry"]

counts = {item: fruits.count(item) for item in set(fruits)}
print(counts)

{'banana': 1, 'apple': 2, 'cherry': 1}

In [40]:
#Exercise 65:
#Write a Python program that removes all occurrences of a specific value from a list.
def remove_all_occurrences(lst, value):
    return [x for x in lst if x != value]

numbers = [1, 2, 3, 2, 4, 2, 5]
result = remove_all_occurrences(numbers, 2)
print(result)

[1, 3, 4, 5]

In [16]:
#Exercise 66:
#Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.
def strings_starting_with_vowel(lst):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [s for s in lst if s and s[0].lower() in vowels]

words = ["apple", "banana", "orange", "grape", "umbrella"]
print(strings_starting_with_vowel(words))

['apple', 'orange', 'umbrella']

In [17]:
#Exercise 67:
#Write a Python program that finds the intersection of two sets set1 and set2.
def find_intersection(set1, set2):
    return set1.intersection(set2)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(find_intersection(set1, set2))

{4, 5}

In [42]:
#Exercise 68:
#Write a Python function that flattens a nested list.
def flatten_nested_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_nested_list(item))
        else:
            flat_list.append(item)
    return flat_list
nested = [1, [2, [3, 4], 5], 6]
print(flatten_nested_list(nested))

[1, 2, 3, 4, 5, 6]

In [43]:
#Exercise 69:
#Write a Python program that checks if all the elements in a list are unique.
def all_unique(lst):
    return len(lst) == len(set(lst))

numbers = [1, 2, 3, 4, 5]
print(all_unique(numbers)) 

numbers2 = [1, 2, 2, 3]
print(all_unique(numbers2))

True
False

In [44]:
#Exercise 70:
#Use the reduce() function from the functools module to multiply all elements in a list.
from functools import reduce
from operator import mul

def multiply_list_elements(lst):
    return reduce(mul, lst)

numbers = [2, 3, 4, 5]
print(multiply_list_elements(numbers))

120

In [47]:
#Exercise 71:
#Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.
def strings_to_length_dict(strings):
    return {s: len(s) for s in strings}

words = ["apple", "banana", "cherry"]
print(strings_to_length_dict(words))

{'apple': 5, 'banana': 6, 'cherry': 6}

In [48]:
#Exercise 72:
#Write a Python program that counts the number of vowels in a string.
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count

string = "Hello World"
print("Number of vowels:", count_vowels(string))

Number of vowels: 3

In [49]:
#Exercise 73:
#Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.
import math
factorials = [(n, math.factorial(n)) for n in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

In [50]:
#Exercise 74:
#Write a Python program that converts a list of dictionaries into a single dictionary by merging them.
def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)
    return merged

dicts = [{'a': 1}, {'b': 2}, {'c': 3}, {'a': 4}]
print(merge_dicts(dicts))

{'a': 4, 'b': 2, 'c': 3}

In [51]:
#Exercise 75:
#Write a Python function that checks if a set is a subset of another set.
def is_subset(set_a, set_b):
    return set_a.issubset(set_b)
A = {2, 2, 3}
B = {1, 2, 3, 4, 5}
print(is_subset(A, B))

True

In [52]:
#Exercise 76:
#Write a Python program that sorts a list of tuples based on the second element in each tuple.
def sort_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

data = [(1, 3), (4, 1), (2, 2)]
sorted_data = sort_by_second_element(data)
print(sorted_data)

[(4, 1), (2, 2), (1, 3)]

In [1]:
#Exercise 77:
#Write a Python function that takes a list of integers and returns a new list with only the positive integers.
def get_positive_numbers(numbers):
    return list(filter(lambda x: x > 0, numbers))

In [ ]:
#Exercise 78:
#Write a Python function that takes two sets and returns their union.
def union_sets(set1, set2):
    return set1.union(set2)

In [2]:
#Exercise 79:
#Write a Python function that takes a list of numbers and returns the product of all the numbers.
def product_of_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

print(product_of_list([2, 3, 4]))

24

In [3]:
#Exercise 80:
#Write a Python program that converts a list of characters into a string.
def list_to_string(char_list):
    return ''.join(char_list)

chars = ['H', 'e', 'l', 'l', 'o']
result = list_to_string(chars)
print(result)

Hello

In [4]:
#Exercise 84:
#Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.
def sort_tuples_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

tuples_data = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sort_tuples_by_first_element(tuples_data))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [29]:
#Exercise 85:
#Write a Python program that removes duplicates from a list of dictionaries.
def remove_duplicate_dicts(dict_list):
    unique_dicts = [dict(t) for t in {tuple(sorted(d.items())) for d in dict_list}]
    return unique_dicts

dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Alice', 'age': 25}
]

print(remove_duplicate_dicts(dicts))

[{'age': 30, 'name': 'Bob'}, {'age': 25, 'name': 'Alice'}]

In [5]:
#Exercise 86:

#Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.
def find_min_max(numbers):
    return min(numbers), max(numbers)

nums = [3, 7, 1, 9, 4]
print(find_min_max(nums))

(1, 9)

In [6]:
#Exercise 87:

#Write a Python program that creates a list of tuples from two lists.
def create_tuples(list1, list2):
    return list(zip(list1, list2))

list_a = [1, 2, 3]
list_b = ['a', 'b', 'c']
print(create_tuples(list_a, list_b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
#Exercise 88:
#Write a Python function that takes a list of strings and returns a list of the strings in reverse order.
def reverse_strings(strings):
    return strings[::-1]

words = ['apple', 'banana', 'cherry']
print(reverse_strings(words))

['cherry', 'banana', 'apple']

In [8]:
#Exercise 89:

#Write a Python function that takes a list of integers and returns the sum of all odd numbers.
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)

nums = [1, 2, 3, 4, 5, 6]
print(sum_of_odds(nums))

9

In [9]:
#Exercise 90:
#Write a Python program that checks if a string is a palindrome.
def is_palindrome(s):
    s = s.replace(' ', '').lower()
    return s == s[::-1]

print(is_palindrome('madam'))  
print(is_palindrome('hello'))

True
False

In [10]:
#Exercise 91:
#Write a Python program that finds the median of a list of numbers.
def find_median(numbers):
    numbers = sorted(numbers)
    n = len(numbers)
    mid = n // 2
    if n % 2 == 0:
        return (numbers[mid - 1] + numbers[mid]) / 2
    else:
        return numbers[mid]

nums = [3, 1, 4, 2, 5]
print(find_median(nums))

3

In [11]:
#Exercise 92:
#Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.
def sum_dict_values(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total

dicts = [
    {'a': 10, 'b': 20},
    {'a': 5, 'c': 15},
    {'b': 5, 'c': 10}
]
print(sum_dict_values(dicts))

{'a': 15, 'b': 25, 'c': 25}

In [12]:
#Exercise 93:

#Write a Python program that calculates the mode of a list of numbers.
from statistics import mode

def find_mode(numbers):
    return mode(numbers)

nums = [1, 2, 2, 3, 4, 2, 5]
print(find_mode(nums))

2

In [13]:
#Exercise 94:
#Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.
def sum_of_squares(numbers):
    return sum(num ** 2 for num in numbers)

nums = [1, 2, 3, 4]
print(sum_of_squares(nums))

30

In [14]:
#Exercise 95:
#Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.
def number_cubes():
    return [(x, x ** 3) for x in range(1, 6)]

print(number_cubes())

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [ ]:
#Exercise 96:
#Write a Python function that returns a list of all prime numbers up to n.
n = int(input)
if n % 1 ==n and n /

In [ ]:
#Exercise 97:
#Write a Python program that finds the common keys between two dictionaries.
def common_keys(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 5, 'c': 7, 'd': 9}
print(common_keys(d1, d2))

In [15]:
#Exercise 98:
#Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.
def long_strings(strings):
    return [s for s in strings if len(s) > 5]

words = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'strawberry']
print(long_strings(words))

['banana', 'cherry', 'strawberry']

In [46]:
#Exercise 99:
#Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.
def string_with_length(strings):
    return [(s, len(s)) for s in strings]

words = ["apple", "banana", "cherry"]
print(string_with_length(words))

[('apple', 5), ('banana', 6), ('cherry', 6)]

In [45]:
#Exercise 100:
#Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts = [
    {'a': 1, 'b': 2, 'c': 3},
    {'a': 2, 'b': 3, 'c': 4},
    {'a': 3, 'b': 4, 'c': 5}
]

print(sum_dicts(dicts))

{'a': 6, 'b': 9, 'c': 12}